body{
	background: #eeeeee;

}
#main {
	width: 800px;
	overflow: hidden;
	margin: 0 auto 0 auto;
	background-color: #FFFFFF;
	/*box-shadow:-1px 0px 3px #000,1px 0px 3px #000;*/
				 
	height: 1000px;
}

.am-navbar,
.am-header-fixed {
	left: auto;
	right: auto;
	width: 800px;
}
.pc{
	height: 450px;
}
