html, body {
    margin: 0;
    padding: 0;
    background: #222;
    width: 100%;
    height: 100%;
}

#container {
    background: #ddd;
    position: relative;
    margin: 0;
    padding: 0;
}

.grid {
    float: left;
    display: flex;
    align-items: center;
    /*定义body的元素垂直居中*/
    justify-content: center;
    /*定义body的里的元素水平居中*/
}
