body, html {
    background: #000;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style: none;
    /*火狐下隐藏滚动条*/
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
    display: none;
}

#main {
    background: #000;
    width: 100%;
    height: 99.99%;
}

#ifr {
    background: #000;
    width: 100%;
    height: 99.99%;
}

#btn {
    background: rgba(255, 0, 0, 0.329);
    width: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 9999;
    bottom: 0;
    right: 0;
    position: absolute;
    border-top-left-radius: 100%;
}

#list ul li {
    margin: 2px 0 2px;
    padding: 10px 30px 10px 30px;
    list-style: none;
    color: #fff;
    background: rgba(99, 99, 99);
}

#list ul {
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#list {
    overflow-y: scroll;
    padding: 0 0 50px 0;
    display: none;
    background: #4e4e4e;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    width: auto;
    height: 50%;
    z-index: 9997;
    bottom: 0;
    right: 0;
    position: absolute;
    /* border-top-left-radius: 100%; */
}
#srk {
    /* overflow-y: scroll; */
    /* padding: 0 0 50px 0; */
    display: none;
    background: #fff;
    border-top: 1px solid rgb(80, 80, 80);
    width: 100%;
    height: auto;
    z-index: 9998;
    bottom: 0;
    position: absolute;
    /* border-top-left-radius: 100%; */
}
#srk input{
    width: 100%;
    /* height: 50px; */
}

.test-1::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.test-1::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #4e4e4e;
}

.test-1::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* background: #EDEDED; */
    background: #747474;
}
